body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.vl{
  border-left: 60px solid #222;
  height: 750px;
  display: inline-block;
  margin-right: 50px;
  margin-left: 50px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #222;
  color: white;
  text-align: center;
}

.badge {
  background-color: #61DAFB;
}

.profilePic{
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
